@use "../../styles/variables" as *;

.headerDivider {
  width: 100%;
  height: 1px;
  background-color: var(--border);
  margin-top: 2rem;
}

.formSection {
  padding-top: 1rem !important;
}

.formContainer {
  max-width: 480px;
  margin: 0 auto;
}
